<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOrderService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2113/Order" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOrderService" contract="OrderService.IOrderService"
                name="NetTcpBinding_IOrderService">
                <identity>
                    <userPrincipalName value="t-immohamed@EFG-Hermes.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>